{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6">
            <h3>Creer votre compte</h3>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp">
                  <small id="textHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Prenom</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp">
                    <small id="textlHelp" class="form-text text-muted"></small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Adresse E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted"></small>
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Mot de passe</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirmer votre mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Enregistrer</label>
                </div>
                <button type="submit" class="btn btn-primary">Creez votre compte</button>
            
              </form>
        </div>
    </div>
</div>
{% endblock %}