{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow" style="display: flex;justify-content: space-between;box-sizing:content-box;">
       
           
        <img src="{% static 'css/images/maison2.jpg' %}"  alt="images" style="margin:5px;">
        <img src="{% static 'css/images/manger2.jpg' %}" alt="images" style="height: 250px;margin:5px;">
        <img src="{% static 'css/images/salon2.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/chambre2.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/chambre11.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/chambre12.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/cuisine2.jpg' %}" alt="100px" style="margin:5px;">
        <img src="{% static 'css/images/salle de bain2.jpg' %}" alt="images" style="width: 250px; margin:5px;">
       
    </div>
</div>

{% endblock %}