{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-5 mb-5 shadow" style="display: flex;justify-content: space-between;">
       
           
        <img src="{% static 'css/images/maison3.jpg' %}"  alt="images" style="margin: 5px;">
        <img src="{% static 'css/images/manger1.jpg' %}" alt="images" style="margin: 5px;">
        <img src="{% static 'css/images/salon1.jpg' %}" alt="images" style="margin: 5px;">
        <img src="{% static 'css/images/chambre1.jpg' %}" alt="images" style="margin: 5px;">
        <img src="{% static 'css/images/chambre12.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/chambre11.jpg' %}" alt="images" style="width: 250px;margin:5px;">
        <img src="{% static 'css/images/cuisine1.jpg' %}" alt="100px" style="margin: 5px; height: 180px;">
        <img src="{% static 'css/images/salle de bain1.jpg' %}" alt="100px" style="margin: 5px;">
    

       
    </div>
</div>

{% endblock %}